.chatHeader{
    width: 600px;
    height: 1.5em;
    background-color: black;
    border: 1px solid black;
    border-bottom: 1px solid yellow;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
}

.leaveBtn{
    background-color: black;
    border: none;
    color: yellow;
}

.messageList {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: black;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
}

.messageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    border-bottom: 1px solid #c4c2c2;
    padding-right: 20px;
}

span{
    display:inline-block;
}

.user, .date {
    font-weight: 700;
}

.user {
    width: 40px;
    margin-right: 10px;
    color: orange;
    font-size:.8em;
}

.date{
    margin-right: 8px;
    color:rgb(177, 177, 175);
    font-size: 0.625rem;
}

.selfMessage{
    justify-content: space-between;
}

.otherMessage{
    justify-content: start;
}

.messageAdmin{
    padding-right: 70px;
    flex-grow: 1;
    color: rgb(246, 25, 183);
    font-weight: 800;
}

.messageRight {
    max-width: 60%;
    overflow-wrap: break-word;
    text-align: end;
    color: rgb(25, 228, 232);
    
}

.messageLeft {
    max-width: 60%;
    overflow-wrap: break-word;
    text-align: start;
    color: rgb(93, 239, 20);
}

form{
    width: 100%;
}

.chatInput{
    width: 90%;
    box-sizing: border-box;
    height: 2.5em;
    color: rgb(43, 255, 0);
    font-weight: 600;
    background-color: rgb(0, 0, 0);

}

.send{
    width:10%;
    border: 2px solid  orange;
    color: ghostwhite;
    background-color: black;
    height: 2.5em;
    font-weight: 700;
}
input[type='submit']:focus{
    color: orange
}